.smartypants_slider {
  margin-top: 100px;
  background: var(--748ee8);
  padding: 60px 66px;
}

.smartypants_slider_wrapper {
  width: 1297px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
}

.smartypants_slider_item {
  display: flex;
  justify-content: center;
}
