@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans:wght@600&family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

:root {
  --swiper-theme-color: black !important;
  --e8c974: #e8c974;
  --74e884: #74e884;
  --748ee8: #748ee8;
  --e87492: #e87492;
  --938d7b: #938d7b;
  --ffffff: #fff;
  --000000: #000;
  --font-family: "Roboto Serif", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Alegreya SC", sans-serif;
  --font3: "Inter", sans-serif;
}
