@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans:wght@600&family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

:root {
  --font-family: "Roboto Serif", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Alegreya SC", sans-serif;
  --font3: "Inter", sans-serif;
}
