.example {
  display: flex;
  flex-direction: row;
  margin-top: 52px;
  padding-top: 44px;
  padding-bottom: 44px;
  height: 400px;
}

.example a {
  text-decoration: none;
  color: #000000;
}

.example__content {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
  padding: 44px 72px 44px 40px;
  justify-content: space-between;
}

.example__content:hover {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.25),
    0 32px 32px 0 rgba(0, 0, 0, 0.21), 0 73px 44px 0 rgba(0, 0, 0, 0.13);
}

.example__content__description {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  width: 537px;
  justify-content: space-between;
}

.example__content__description_block {
  width: 537px;
  height: 132px;
}

.example__content__description_title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 62px;
  color: var(--#000000);
}

.example__content__description_name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  color: var(--#000000);
  margin-top: 48px;
}

.example__content__description_learnMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 20px 44px;
  height: 60px;
  margin-top: -120px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  color: var(--#000000);
}
