.design_visualSolutions {
  margin-top: 40px;
  border-radius: 40px;
  padding: 60px 0px;
  width: 1096px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.88), 0 9px 9px 0 rgba(0, 0, 0, 0.77),
    0 20px 12px 0 rgba(0, 0, 0, 0.45), 0 35px 14px 0 rgba(0, 0, 0, 0.13),
    0 55px 15px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  font-family: var(--second-family);
}

.design_visualSolutions_top {
  padding: 0px 36px;
  width: 750px;
  height: 130px;
  font-weight: 400;
  font-size: 40px;
}

.design_visualSolutions_squares {
  display: flex;
  flex-wrap: wrap;
}

.design_visualSolutions_fonts {
  margin-top: 100px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  padding: 0px 36px;
}

.design_visualSolutions_fonts_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1024px;
  font-size: 24px;
}

.design_visualSolutions_fonts_content_left_hBlock {
  margin-top: 44px;
}

.design_visualSolutions_fonts_content_right_hblock {
  margin-top: 44px;
}
